.rcplayer-container {
    .watermark-container {
        position: absolute;
        top: 0;
        left: 0;
        margin: 1.5em;
        max-width: 12%;
        max-height: 12%;
        opacity: 0.4;
        pointer-events: none;
        z-index: 1;
        img {
            width: 100%;
        }
    }
}