.rcplayer-container {
    .live-icon {
        font-size: 0.6rem;
        font-weight: bold;
        padding: 5px 7px;
        margin: 0 5px;
        border-radius: 2px;
        background: #c00;
        cursor: default;
        color: #ffffff;
        line-height: 0.6em;
    }
}